---
layout: default
---

<section id="cd-timeline" class="cd-container">
  {% for post in site.posts reversed %}
  <div class="cd-timeline-block" id="{{ post.id | remove_first : '/' | replace: '/', '-' }}">
    <div class="cd-timeline-img cd-{{ post.type }}">
      <img src="img/cd-icon-{{ post.type }}.svg" alt="{{ post.type | title }}">
    </div>

    <div class="cd-timeline-content">
      <h2>{{ post.title }}</h2>
      {{ post.content }}

      <span class="cd-date">{{ post.date | date : '%-d %B %Y' }}</span>
    </div>
  </div>
  {% endfor %}
</section>

{% assign first_post = site.posts | last %}
{% assign last_post = site.posts | first %}
<footer
  data-start-date="{{ first_post.date | date_to_rfc822 }}"
  data-end-date="{{ last_post.date | date_to_rfc822 }}"
>
  <div class="dots">
    {% for post in site.posts %}
      <i
        class="dot dot-{{ post.type }}"
        data-post-date="{{ post.date | date_to_rfc822 }}"
        data-post-id="{{ post.id | remove_first : '/' | replace: '/', '-' }}"
        data-post-title="{{ post.title }}"
      >
      </i>
    {% endfor %}
  </div>
</footer>