---
layout: default
---

<section id="cd-timeline" class="cd-container">
  {% for post in site.posts reversed %}
  <div class="cd-timeline-block">
    <div class="cd-timeline-img cd-{{ post.type }}">
      <img src="img/cd-icon-{{ post.type }}.svg" alt="{{ post.type | title }}">
    </div>

    <div class="cd-timeline-content">
      <h2>{{ post.title }}</h2>
      {{ post.content }}

      <span class="cd-date">{{ post.date | date : '%-d %B %Y' }}</span>
    </div>
  </div>
  {% endfor %}
</section>

<footer>
  {% for post in site.posts %}
    <span data-post-date="{{ post.date | date_to_rfc822 }}" class="dot-{{ post.type }}"></span>
  {% endfor %}
</footer>